[icann]
username = TU_USUARIO_ICANN
password = TU_PASSWORD_ICANN

[hosting]
url = https://tudominio.com
api_key = TU_API_KEY

[worker]
download_dir = ./zones
data_dir = ./data
batch_size = 10000
max_retries = 5
retry_delay_seconds = 300

[tlds]
; Comma-separated list of TLDs to process. Leave empty to process all approved TLDs.
whitelist = zip, wine
